
a.out
db/
greybox_tmp/
incremental_db/
output_files/
result
simulation/
.qsys_edit/
*wave.*
*.qpf
*.ppf
*.qdf
*.qip
*.json
*.rpt
*.qsf
*.qws
*.cnx
*.stp
*.bak
*_inst.v
*_bb.v
c_src/*.o
c_src/*.img
c_src/*.hex
*.mif
*.txt
*.log
*.hex
